<!DOCTYPE html>
<html lang="en">
    {%- include head.html -%}
    <body>
        <div class="heading">
            andras marton dot com
			<div class="heading-right">
				<a href="/index.html">&#126;&#47;</a> |
				<a href="/ctf">ctf</a> |
				<a href="#projects">projects</a>
			</div>
		</div>
        <div class="text">
            <h2>{{ page.title }}</h2>
            {{ content }}
        </div>
        <!-- Cloudflare Web Analytics -->
        <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "cb06f427222443aa8aa04fbe6ce47ff6"}'></script>
        <!-- End Cloudflare Web Analytics -->
    </body>
</html> 

